<a href="https://colab.research.google.com/github/maike841/iniciante/blob/main/iniciante_lacos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
var = 'maike'
var2 = 23
print('hi, my name is:' + var + ' and my age is:' + str(var2))

hi, my name is:maike and my age is:23

In [2]:
nome = 'Maike Roberto Rodrigues'
empresa = 'bradesco'
qtde_funcionarios = 94760
mediaMensalidade = 856.29
print(nome + " trabalha na empresa: " + empresa)
print('possui: ', qtde_funcionarios, 'funcionários.')
print('a média de mensalidade é de: ', str(mediaMensalidade))

Maike Roberto Rodrigues trabalha na empresa: bradesco
possui:  94760 funcionários.
a média de mensalidade é de:  856.29

In [3]:
nome = input('Digite um funcionário: ')
empresa = input('digite a instituição: ')
qtde_funcionarios = int(input('digite a qtde de func: '))
mediaMensalidade = float(input('digite a mensalidade: '))
print(nome + " trabalha na empresa: " + empresa)
print('possui: ', qtde_funcionarios, 'funcionários.')
print('a média de mensalidade é de: ', str(mediaMensalidade))

Digite um funcionário: maike
digite a instituição: bra
digite a qtde de func: 4
digite a mensalidade: 900
maike trabalha na empresa: bra
possui:  4 funcionários.
a média de mensalidade é de:  900.0

In [4]:
print(type(nome))
print(type(qtde_funcionarios))
print(type(mediaMensalidade))

<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
nome = input('digite o nome: ')
idade = int(input('digite a idade: '))
doenca = input('possui doenca infecciosa? ').upper()
if idade >=65:
  print('o paciente ', nome, 'possui prioridade')
elif doenca == 'SIM':
  print('o paciente ', nome, 'DEVE SER DIRECIONADO A SALA RESERVADA')
else:
  print('o paciente', nome, 'NÃO possui prioridade')

digite o nome: maike
digite a idade: 40
possui doenca infecciosa? nao
o paciente maike NÃO possui prioridade

In [6]:
tabuada = int(input('Digite um numero: '))
print('tabuada do numero: ', tabuada)
for valor in range(1,11,1):
  print(str(tabuada), " x ",  str(valor), ' = ', str((tabuada*valor)))

Digite um numero: 4
tabuada do numero:  4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40

In [7]:
inventario = []
resposta = 'S'
while resposta == 'S':
  inventario.append(input('equipamento: '))
  inventario.append(float(input('valor: ')))
  resposta = input("digite \"S\" para continuar: ").upper()

for elemento in inventario:
    print(elemento)

equipamento: pc
valor: 400
digite "S" para continuar: s
equipamento: nb
valor: 400
digite "S" para continuar: tv
pc
400.0
nb
400.0

In [8]:
inventario = []
equipamento = []
valor = []
resposta = 'S'
while resposta == 'S':
  equipamento.append(input('equipamento: '))
  valor.append(int(input('valor: ')))
  resposta = input("digite \"S\" para continuar: ").upper()

for elemento in equipamento:
    print(elemento)
for elemento in valor:
    print(elemento)

equipamento: 700
valor: 700
digite "S" para continuar: s
equipamento: dvd
valor: 200
digite "S" para continuar: n
700
dvd
700
200

In [9]:
for indice in range(0,len(equipamento)):
  print(' equipamento: ', (indice +1))
  print('nome: ', equipamento[indice])
  print('valor: ', valor[indice])

 equipamento:  1
nome:  700
valor:  700
 equipamento:  2
nome:  dvd
valor:  200

In [15]:
busca = input('\nDigite o nome do equipamento: ')
for indice in range(0,len(equipamento)):
  if busca == equipamento[indice]:
    print('valor: ', valor[indice])

Digite o nome do equipamento: dvd
valor:  200

In [16]:
depreciacao = input('digite o nome do equipamento a ser depreciado: ')
for indice in range(0, len(equipamento)):
  if depreciacao == equipamento[indice]:
    print('valor antigo: ', valor[indice])
    valor[indice] = valor[indice] * 0.9
    print('novo valor: ', valor[indice])

digite o nome do equipamento a ser depreciado: dvd
valor antigo:  200
novo valor:  180.0

In [14]:
serial = int(input('digite um valor a deletar: '))
for indice in range(0, len(equipamento)):
  if valor[indice] == serial:
      del equipamento[indice]
      del valor[indice]
      break
for indice in range(0,len(equipamento)):
  print('equipamento: ', (indice +1))
  print('nome: ', equipamento[indice])

digite um valor a deletar: 700
equipamento:  1
nome:  dvd

In [22]:
valores = [200, 400, 700*2]
for elemento in inventario:
  valores.append(elemento[1])
if len(valores) > 0:
  print('o mais caro custa: ', max(valores))
  print('o mais barato custa: ', min(valores))

o mais caro custa:  1400
o mais barato custa:  200

# Nova seção

---