<a href="https://colab.research.google.com/github/maike841/iniciante/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
var = 'maike'
var2 = 23
print('hi, my name is:' + var + ' and my age is:' + str(var2))

hi, my name is:maike and my age is:23

In [10]:
nome = 'Maike Roberto Rodrigues'
empresa = 'bradesco'
qtde_funcionarios = 94760
mediaMensalidade = 856.29
print(nome + " trabalha na empresa: " + empresa)
print('possui: ', qtde_funcionarios, 'funcionários.')
print('a média de mensalidade é de: ', str(mediaMensalidade))

Maike Roberto Rodrigues trabalha na empresa: bradesco
possui:  94760 funcionários.
a média de mensalidade é de:  856.29

In [13]:
nome = input('Digite um funcionário: ')
empresa = input('digite a instituição: ')
qtde_funcionarios = int(input('digite a qtde de func: '))
mediaMensalidade = float(input('digite a mensalidade: '))
print(nome + " trabalha na empresa: " + empresa)
print('possui: ', qtde_funcionarios, 'funcionários.')
print('a média de mensalidade é de: ', str(mediaMensalidade))

Digite um funcionário: maike
digite a instituição: bradesco
digite a qtde de func: 49
digite a mensalidade: 49.79
maike trabalha na empresa: bradesco
possui:  49 funcionários.
a média de mensalidade é de:  49.79

In [16]:
print(type(nome))
print(type(qtde_funcionarios))
print(type(mediaMensalidade))

<class 'str'>
<class 'int'>
<class 'float'>

In [20]:
nome = input('digite o nome: ')
idade = int(input('digite a idade: '))
doenca = input('possui doenca infecciosa? ').upper()
if idade >=65:
  print('o paciente ', nome, 'possui prioridade')
elif doenca == 'SIM':
  print('o paciente ', nome, 'DEVE SER DIRECIONADO A SALA RESERVADA')
else:
  print('o paciente', nome, 'NÃO possui prioridade')

digite o nome: maike
digite a idade: 70
possui doenca infecciosa? sim
o paciente  maike possui prioridade

# Nova seção